version: '3.9'
services:
  api:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - redis
    env_file:
      - .env
  worker:
    build: .
    command: rq worker transactions
    depends_on:
      - postgres
      - redis
    env_file:
      - .env
  redis:
    image: redis:7
  postgres:
    image: postgres:18
    environment:
      POSTGRES_DB: transactions
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres